@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Made by: @ViewData["Name"] with classes of course.</p>

<address>
    <a href="http://linkedin.com/upxtls"><strong>More about me here</a>!</strong> 
</address>

<p>E-mail: @ViewData["email"]</p>
